* {
    box-sizing: border-box;
}

p{
    text-align: center;
    text-decoration: none;
}
body {
    background-color: white;
    width: 100%;

}
.name{
    color: black;
    width:  240px;

    text-align: center;
}

/* #name{
    color: white;
    width:  200px;

    text-align: center;
} */
.nav{
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
form{
    width: 400px;
    padding: 6px;
    border-radius: 10px;
    background-color: #151f30;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.nav .search-container input{
    /* float: right; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px 7px;
}

#section {
    padding-top: 10px;
}

.nav .imdb {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    overflow-x: hidden;
}
.nav .imdb button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #F9DC5C;
    font-size: 20px;
    font-weight: bold;
}

.nav .imdb button > a {
    text-decoration: none;
    color: black;
}
.img{
    height: 250px;
    width: 200px;
    border-radius: 20px;
}

.card{
    border-radius: 20px; 
    background-color: rgb(239, 235, 229);
    word-wrap: break-word;
    padding: 10px 
 }  

.column{
    float: left;
    border-radius: 20px;
    padding: 10px 10px;
}


.card a {
    text-decoration: none;
    background-color: bisque;
    color: black;
}

.card a:hover {
    color: #d9534f;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.actions .del-icon {
    background-color: red;
}

.rev {
    border-radius: 7px;
}
/* .row{
    background-color: rgb(239, 235, 229); 
    border-radius: 20px;
    
}  */

